# Copia este archivo como .env y completa los valores

SECRET_KEY=django-insecure-cambia-esta-clave-en-produccion
DEBUG=True

# Base de datos (descomentar para producción con MySQL)
# DATABASE_URL=mysql://usuario:password@localhost/monitorhub

# Redis (requerido para Django Channels)
REDIS_URL=redis://localhost:6379

# Microsoft Azure AD (versión final de producción)
AZURE_CLIENT_ID=tu_client_id_aqui
AZURE_CLIENT_SECRET=tu_client_secret_aqui
AZURE_TENANT_ID=tu_tenant_id_aqui
